@using Prodex.Client.Coponents;
@using Prodex.Client.Pages.ProductTemplates.Components.ElementOptions
@using Prodex.Client.Pages.ProductTemplates.Models;
<Card>
    <CardBody>
        <BpmnModeler @ref="modeler" SelectedElementChanged="SelectedElementChanged"></BpmnModeler>


        @switch (element?.TypeEnum)
        {
            case ElementType.ServiceTaks: 
                <ServiceTaskOptions TemplateId="@TemplateId" ElementId="@element.Id"/>
            break;

            case ElementType.UserTask: 
                <UserTaskOptions />
            break;

            case ElementType.SendTask:
                <SendTaskOptions TemplateId="@TemplateId" ElementId="@element.Id" />
            break;

            case ElementType.SequenceFlow:
                <SequenceFlowOptions TemplateId="@TemplateId" Element="@element" />
            break;

            default: 
                <Div></Div>
            break;
        }

    </CardBody>
    <CardFooter>
        <Button Color="Color.Primary" @onclick="Save">Zapisz diagram</Button>
    </CardFooter>
</Card>


@code {
    private BpmnModeler modeler;
    private BpmnElement element;

    [Parameter]
    public EventCallback Save { get; set; }

    [Parameter]
    public long TemplateId { get; set; }

    public Task<string> GetValueAsync()
    {
        return modeler.GetValueAsync();
    }

    public Task SetValueAsync(string xml)
    {
        return modeler.SetValueAsync(xml);
    }

    private void SelectedElementChanged(BpmnElement element)
    {
        Console.WriteLine(element.Type);
        this.element = element;
    }
}
