@using Prodex.Shared.Models.Sitemap;

<Bar Breakpoint="Breakpoint.Desktop" NavigationBreakpoint="Breakpoint.Tablet" ThemeContrast="ThemeContrast.Dark"
     Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Small">
    <BarToggler />
    <BarBrand>
        <BarItem Style="font-size: 20px; font-weight: bold">
            <BarLink Class="gap-3">
                <Div Class="b-bar-icon d-inline-block"><img Style="width:32px; height: 32px" src="/favicon.png?v=2"/></Div>
                Prodex
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            @foreach (var node in Sitemap.Nodes)
            {
                <BarItem>

                    @if (node.HasVisibleChildren)
                    {
                        <BarDropdown>
                            <BarDropdownToggle>
                                <BarIcon IconName="@node.Icon" />
                                @node.Name
                            </BarDropdownToggle>
                            <BarDropdownMenu>
                                @foreach (var node2 in node.Children)
                                {
                                    <BarDropdownItem To="@GetRoute(node.Route, node2.Route)">@node2.Name</BarDropdownItem>
                                }
                            </BarDropdownMenu>
                        </BarDropdown>
                    }
                    else
                    {
                        <BarLink To="@node.Route">
                            <BarIcon IconName="@node.Icon" />
                            @node.Name
                        </BarLink>
                    }
                </BarItem>
            }
        </BarStart>
    </BarMenu>
</Bar>

@code{
    [Parameter] public SitemapModel Sitemap { get; set; }

    public string GetRoute(string a, string b) => a + "/" + b;

}
